In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\anark\Desktop\Capstone\SQLChatBot\Testing\geography.uw.test.txt.csv")

In [3]:
df.head()

,HumanQuery,SQLQuery
0,count the states which have elevations lower t...,select count(highlow.state_name) from highlow ...
1,give me the number of rivers in california,select count(river.river_name) from river wher...
2,give me the states that border utah,select border_info.border from border_info whe...
3,how high is mount mckinley,select highlow.highest_elevation from highlow ...
4,how high is the highest point in america,select max(highlow.highest_elevation) from hig...