In [1]:
import pandas as pd
import pickle

In [2]:
with open(r'C:\Users\anark\Desktop\Capstone\SQLChatBot\geography.uw.test.txt.results.pkl', 'rb') as f:
    results = pickle.load(f)

df = pd.DataFrame(results)

print(df)

                                            HumanQuery  \
0    count the states which have elevations lower t...
1           give me the number of rivers in california
2                  give me the states that border utah
3                           how high is mount mckinley
4             how high is the highest point in america
..                                                 ...
275    which states does the longest river run through
276      which states does the mississippi run through
277                          which states have a river
278              which states have cities named austin
279  which us city has the highest population densi...

                                            Gold Query  \
0    select count(highlow.state_name) from highlow ...
1    select count(river.river_name) from river wher...
2    select border_info.border from border_info whe...
3    select highlow.highest_elevation from highlow ...
4    select max(highlow.highest_elevation) from hig...
..                                                 ...
275  select river.traverse from river where river.l...
276  select river.traverse from river where river.r...
277                  select river.traverse from river;
278  select city.state_name from city where city.ci...
279  select city.city_name from city where city.pop...

                                       Generated Query  \
0    SELECT COUNT(*) FROM highlow WHERE CAST(lowest...
1    SELECT COUNT(*) FROM river WHERE traverse = 'c...
2    SELECT DISTINCT state_name FROM border_info WH...
3    SELECT mountain_altitude FROM mountain WHERE m...
4    SELECT MAX(mountain_altitude) AS "highest_poin...
..                                                 ...
275  SELECT DISTINCT state.state_name FROM river IN...
276  This question cannot be answered by this database
277  This question cannot be answered by this database
278  SELECT state_name FROM city WHERE city_name = ...
279  This question cannot be answered by this database

                                           Gold Result  \
0                                               [(2,)]
1                                               [(1,)]
2    [(wyoming,), (colorado,), (new mexico,), (ariz...
3                                            [(6194,)]
4                                             [(979,)]
..                                                 ...
275  [(montana,), (north dakota,), (south dakota,),...
276  [(montana,), (north dakota,), (south dakota,),...
277  [(montana,), (north dakota,), (south dakota,),...
278                                         [(texas,)]
279                                         [(texas,)]

                                      Generated Result  \
0                                               [(2,)]
1                                               [(1,)]
2    [(arizona,), (colorado,), (idaho,), (nevada,),...
3                                            [(6194,)]
4                                            [(6194,)]
..                                                 ...
275  [(alabama,), (alaska,), (arizona,), (arkansas,...
276                                            [(NA,)]
277                                            [(NA,)]
278                                         [(texas,)]
279                                            [(NA,)]

                                      Generated Answer
0    The query is counting the number of records in...
1    The query is counting the number of rows in th...
2    The query retrieves a list of states that shar...
3    This query is requesting the altitude of the m...
4    The SELECT MAX(mountain_altitude) AS "highest_...
..                                                 ...
275  The query is selecting the distinct state name...
276                                                 NA
277                                                 NA
278  The SELECT statement retrieves the state name ...
279                                                 NA

[280 rows x 6 columns]

In [3]:
df.head()

,HumanQuery,Gold Query,Generated Query,Gold Result,Generated Result,Generated Answer
0,count the states which have elevations lower t...,select count(highlow.state_name) from highlow ...,SELECT COUNT(*) FROM highlow WHERE CAST(lowest...,"[(2,)]","[(2,)]",The query is counting the number of records in...
1,give me the number of rivers in california,select count(river.river_name) from river wher...,SELECT COUNT(*) FROM river WHERE traverse = 'c...,"[(1,)]","[(1,)]",The query is counting the number of rows in th...
2,give me the states that border utah,select border_info.border from border_info whe...,SELECT DISTINCT state_name FROM border_info WH...,"[(wyoming,), (colorado,), (new mexico,), (ariz...","[(arizona,), (colorado,), (idaho,), (nevada,),...",The query retrieves a list of states that shar...
3,how high is mount mckinley,select highlow.highest_elevation from highlow ...,SELECT mountain_altitude FROM mountain WHERE m...,"[(6194,)]","[(6194,)]",This query is requesting the altitude of the m...
4,how high is the highest point in america,select max(highlow.highest_elevation) from hig...,"SELECT MAX(mountain_altitude) AS ""highest_poin...","[(979,)]","[(6194,)]","The SELECT MAX(mountain_altitude) AS ""highest_..."

In [4]:
data_from_sqlite = df['Generated Answer'][2]
print(data_from_sqlite)

The query retrieves a list of states that share a border with Utah. The states are Arizona, Colorado, Idaho, Nevada, New Mexico, and Wyoming.

In [5]:
df['Gold Result'] = df['Gold Result'].apply(lambda x: [item[0] for item in x])
df['Generated Result'] = df['Generated Result'].apply(lambda x: [item[0] for item in x])

In [6]:
print(df['Gold Result'])

0                                                    [2]
1                                                    [1]
2      [wyoming, colorado, new mexico, arizona, nevad...
3                                                 [6194]
4                                                  [979]
                             ...
275    [montana, north dakota, south dakota, iowa, ne...
276    [montana, north dakota, south dakota, iowa, ne...
277    [montana, north dakota, south dakota, iowa, ne...
278                                              [texas]
279                                              [texas]
Name: Gold Result, Length: 280, dtype: object

In [7]:
print(df['Generated Result'])

0                                                    [2]
1                                                    [1]
2      [arizona, colorado, idaho, nevada, new mexico,...
3                                                 [6194]
4                                                 [6194]
                             ...
275    [alabama, alaska, arizona, arkansas, californi...
276                                [[, (, N, A, ,, ), ]]
277                                [[, (, N, A, ,, ), ]]
278                                              [texas]
279                                [[, (, N, A, ,, ), ]]
Name: Generated Result, Length: 280, dtype: object

In [8]:
from collections import Counter

def check_lists_equal(generated_list, gold_list):
    
    try:
        gold_list = [int(i) for i in gold_list]
    except: 
        print("\n") 
    print(gold_list, "\n", generated_list, "\n", Counter(generated_list) == Counter(gold_list))
    return Counter(generated_list) == Counter(gold_list)

df['Equal'] = df.apply(lambda row: check_lists_equal(row['Generated Result'], row['Gold Result']), axis=1)

[2]
 [2]
 True
[1]
 [1]
 True


['wyoming', 'colorado', 'new mexico', 'arizona', 'nevada', 'idaho']
 ['arizona', 'colorado', 'idaho', 'nevada', 'new mexico', 'wyoming']
 True
[6194]
 [6194]
 True
[979]
 [6194]
 False
[734]
 ['cheaha mountain']
 False
[591000]
 [591000.0]
 True
[266807]
 [266807.0]
 True
[2333, 2333, 2333, 2333, 2333]
 [2333, 2333, 2333, 2333, 2333]
 True
[451, 451, 451, 451]
 [451, 451, 451, 451]
 True
[2333]
 [2333]
 True
[3968, 3968, 3968, 3968, 3968, 3968, 3968]
 [3968]
 False
[1094, 1094, 1094]
 [1094, 1094, 1094]
 True
[1569, 1569, 1569, 1569, 1569, 1569, 1569]
 [1569, 1569, 1569, 1569, 1569, 1569, 1569]
 True
[1]
 [1]
 True
[386]
 [386]
 True
[7071639]
 [7071639]
 True
[5]
 [5]
 True
[345496]
 [345496]
 True
[1203339]
 [1203339]
 True
[1595138]
 [1595138]
 True
[370951]
 [370951]
 True
[2520000]
 [2520000]
 True
[947200]
 [947200]
 True
[7071639]
 [7071639]
 True
[345496]
 [345496]
 True
[225195124]
 [225195124]
 True
[1461000]
 [1461000]
 True
[14229000]
 [14229000]
 True
[2]
 [2]
 True
[2]
 ['[', '(', 'N', 'A', ',', ')', ']']
 False
[11]
 [11]
 True
[51]
 [51]
 True
[51]
 [51]
 True
[51]
 [51]
 True
[6]
 [6]
 True
[3]
 [3]
 True
[8]
 [8]
 True
[51]
 [51]
 True
[4]
 [0]
 False
[0]
 [0]
 True
[14229000]
 [14229000]
 True
[6194]
 [6194]
 True
[3901]
 ['granite peak']
 False
[6]
 [6]
 True


['colorado', 'arkansas', 'canadian', 'green', 'north platte', 'republican', 'rio grande', 'san juan', 'san juan', 'smoky hill', 'south platte']
 ['colorado', 'arkansas', 'canadian', 'green', 'north platte', 'republican', 'rio grande', 'san juan', 'san juan', 'smoky hill', 'south platte']
 True
[]
 ['chattahoochee']
 False
[76685]
 [76685]
 True
[6]
 [6]
 True


['delaware', 'allegheny', 'hudson']
 ['delaware', 'allegheny', 'hudson']
 True


['texas']
 ['texas']
 True


['houston', 'dallas', 'san antonio', 'el paso', 'fort worth', 'austin', 'corpus christi', 'lubbock', 'arlington', 'amarillo', 'garland', 'beaumont', 'pasadena', 'irving', 'waco', 'abilene', 'wichita falls', 'laredo', 'odessa', 'brownsville', 'san angelo', 'richardson', 'plano', 'grand prairie', 'midland', 'tyler', 'mesquite', 'mcallen', 'longview', 'port arthur']
 ['E', 'r', 'r', 'o', 'r', ' ', '4', '0', '4', ':', ' ', 'N', 'o', 't', ' ', 'f', 'o', 'u', 'n', 'd']
 False


['colorado', 'new mexico', 'texas']
 ['alabama', 'alaska', 'arizona', 'arkansas', 'california', 'colorado', 'connecticut', 'delaware', 'district of columbia', 'florida', 'georgia', 'hawaii', 'idaho', 'illinois', 'indiana', 'iowa', 'kansas', 'kentucky', 'louisiana', 'maine', 'maryland', 'massachusetts', 'michigan', 'minnesota', 'mississippi', 'missouri', 'montana', 'nebraska', 'nevada', 'new hampshire', 'new jersey', 'new mexico', 'new york', 'north carolina', 'north dakota', 'ohio', 'oklahoma', 'oregon', 'pennsylvania', 'rhode island', 'south carolina', 'south dakota', 'tennessee', 'texas', 'utah', 'vermont', 'virginia', 'washington', 'west virginia', 'wisconsin', 'wyoming']
 False


['red', 'canadian', 'rio grande', 'pecos', 'washita']
 ['red', 'canadian', 'rio grande', 'pecos', 'washita']
 True


['austin']
 ['austin']
 True


['des moines', 'springfield', 'frankfort', 'nashville', 'little rock', 'oklahoma city', 'topeka', 'lincoln']
 ['little rock', 'springfield', 'des moines', 'topeka', 'frankfort', 'lincoln', 'oklahoma city', 'nashville']
 True


['little rock', 'fort smith', 'north little rock', 'chicago', 'rockford', 'peoria', 'springfield', 'decatur', 'aurora', 'joliet', 'evanston', 'waukegan', 'arlington heights', 'elgin', 'cicero', 'oak lawn', 'skokie', 'champaign', 'des moines', 'cedar rapids', 'davenport', 'sioux city', 'waterloo', 'dubuque', 'louisville', 'lexington', 'new orleans', 'baton rouge', 'shreveport', 'metairie', 'lafayette', 'lake charles', 'kenner', 'monroe', 'minneapolis', 'st. paul', 'duluth', 'bloomington', 'rochester', 'jackson', 'st. louis', 'kansas city', 'springfield', 'independence', 'st. joseph', 'columbia', 'memphis', 'nashville', 'knoxville', 'chattanooga', 'milwaukee', 'madison', 'green bay', 'racine', 'kenosha', 'west allis', 'appleton']
 ['bloomington', 'duluth', 'minneapolis', 'rochester', 'st. paul', 'appleton', 'green bay', 'kenosha', 'madison', 'milwaukee', 'racine', 'west allis', 'cedar rapids', 'davenport', 'des moines', 'dubuque', 'sioux city', 'waterloo', 'arlington heights', 'aurora', 'champaign', 'chicago', 'cicero', 'decatur', 'elgin', 'evanston', 'joliet', 'oak lawn', 'peoria', 'rockford', 'skokie', 'springfield', 'waukegan', 'columbia', 'independence', 'kansas city', 'st. joseph', 'st. louis', 'lexington', 'louisville', 'chattanooga', 'knoxville', 'memphis', 'nashville', 'fort smith', 'little rock', 'north little rock', 'jackson', 'baton rouge', 'kenner', 'lafayette', 'lake charles', 'metairie', 'monroe', 'new orleans', 'shreveport']
 False


['philadelphia', 'pittsburgh', 'erie', 'allentown', 'scranton', 'upper darby', 'reading', 'bethlehem', 'lower merion', 'abingdon', 'bristol township', 'penn hills', 'altoona']
 ['E', 'r', 'r', 'o', 'r', ' ', '4', '0', '4', ':', ' ', 'N', 'o', 't', ' ', 'f', 'o', 'u', 'n', 'd']
 False


['cheaha mountain', 'mount mckinley', 'humphreys peak', 'magazine mountain', 'mount whitney', 'mount elbert', 'mount frissell', 'centerville', 'tenleytown', 'walton county', 'brasstown bald', 'mauna kea', 'borah peak', 'charles mound', 'franklin township', 'ocheyedan mound', 'mount sunflower', 'black mountain', 'driskill mountain', 'mount katahdin', 'backbone mountain', 'mount greylock', 'mount curwood', 'eagle mountain', 'woodall mountain', 'taum sauk mountain', 'granite peak', 'johnson township', 'boundary peak', 'mount washington', 'high point', 'wheeler peak', 'mount marcy', 'mount mitchell', 'white butte', 'campbell hill', 'black mesa', 'mount hood', 'mount davis', 'jerimoth hill', 'sassafras mountain', 'harney peak', 'clingmans dome', 'guadalupe peak', 'kings peak', 'mount mansfield', 'mount rogers', 'mount rainier', 'spruce knob', 'timms hill', 'gannett peak']
 ['E', 'r', 'r', 'o', 'r', ' ', '4', '0', '4', ':', ' ', 'N', 'o', 't', ' ', 'f', 'o', 'u', 'n', 'd']
 False


['birmingham', 'mobile', 'montgomery']
 ['E', 'r', 'r', 'o', 'r', ' ', '4', '0', '4', ':', ' ', 'N', 'o', 't', ' ', 'f', 'o', 'u', 'n', 'd']
 False


['anchorage']
 ['E', 'r', 'r', 'o', 'r', ' ', '4', '0', '4', ':', ' ', 'N', 'o', 't', ' ', 'f', 'o', 'u', 'n', 'd']
 False


['new york', 'buffalo', 'rochester', 'yonkers', 'syracuse']
 ['E', 'r', 'r', 'o', 'r', ' ', '4', '0', '4', ':', ' ', 'N', 'o', 't', ' ', 'f', 'o', 'u', 'n', 'd']
 False


['little rock', 'chicago', 'des moines', 'louisville', 'lexington', 'new orleans', 'baton rouge', 'shreveport', 'metairie', 'minneapolis', 'st. paul', 'jackson', 'st. louis', 'kansas city', 'memphis', 'nashville', 'knoxville', 'chattanooga', 'milwaukee', 'madison']
 ['bloomington', 'duluth', 'minneapolis', 'rochester', 'st. paul', 'appleton', 'green bay', 'kenosha', 'madison', 'milwaukee', 'racine', 'west allis', 'cedar rapids', 'davenport', 'des moines', 'dubuque', 'sioux city', 'waterloo', 'arlington heights', 'aurora', 'champaign', 'chicago', 'cicero', 'decatur', 'elgin', 'evanston', 'joliet', 'oak lawn', 'peoria', 'rockford', 'skokie', 'springfield', 'waukegan', 'columbia', 'independence', 'kansas city', 'st. joseph', 'st. louis', 'lexington', 'louisville', 'chattanooga', 'knoxville', 'memphis', 'nashville', 'fort smith', 'little rock', 'north little rock', 'jackson', 'baton rouge', 'kenner', 'lafayette', 'lake charles', 'metairie', 'monroe', 'new orleans', 'shreveport']
 False


['los angeles', 'san diego', 'san francisco', 'san jose', 'long beach', 'oakland', 'sacramento', 'anaheim', 'fresno', 'santa ana', 'riverside', 'huntington beach']
 ['los angeles', 'san diego', 'san francisco']
 False


['birmingham', 'mobile', 'montgomery', 'anchorage', 'phoenix', 'tucson', 'mesa', 'little rock', 'los angeles', 'san diego', 'san francisco', 'san jose', 'long beach', 'oakland', 'sacramento', 'anaheim', 'fresno', 'santa ana', 'riverside', 'huntington beach', 'denver', 'colorado springs', 'aurora', 'washington', 'jacksonville', 'miami', 'tampa', 'st. petersburg', 'fort lauderdale', 'atlanta', 'columbus', 'honolulu', 'ewa', 'chicago', 'indianapolis', 'fort wayne', 'gary', 'des moines', 'wichita', 'kansas city', 'louisville', 'lexington', 'new orleans', 'baton rouge', 'shreveport', 'metairie', 'baltimore', 'boston', 'worcester', 'springfield', 'detroit', 'grand rapids', 'warren', 'flint', 'minneapolis', 'st. paul', 'jackson', 'st. louis', 'kansas city', 'omaha', 'lincoln', 'las vegas', 'newark', 'jersey city', 'albuquerque', 'new york', 'buffalo', 'rochester', 'yonkers', 'syracuse', 'charlotte', 'greensboro', 'cleveland', 'columbus', 'cincinnati', 'toledo', 'akron', 'dayton', 'oklahoma city', 'tulsa', 'portland', 'philadelphia', 'pittsburgh', 'providence', 'memphis', 'nashville', 'knoxville', 'chattanooga', 'houston', 'dallas', 'san antonio', 'el paso', 'fort worth', 'austin', 'corpus christi', 'lubbock', 'arlington', 'salt lake city', 'norfolk', 'virginia beach', 'richmond', 'arlington', 'seattle', 'spokane', 'tacoma', 'milwaukee', 'madison']
 ['new york', 'chicago', 'los angeles']
 False
[]
 ['E', 'r', 'r', 'o', 'r', ' ', '4', '0', '4', ':', ' ', 'N', 'o', 't', ' ', 'f', 'o', 'u', 'n', 'd']
 False


['ohio', 'wabash']
 ['E', 'r', 'r', 'o', 'r', ' ', '4', '0', '4', ':', ' ', 'N', 'o', 't', ' ', 'f', 'o', 'u', 'n', 'd']
 False
[75, 0, 23, 42, 149, 27, 618, 290, 580, 141, 92, 148, 11, 202, 151, 51, 28, 28, 88, 33, 403, 692, 158, 48, 52, 70, 5, 20, 7, 99, 945, 10, 357, 111, 9, 261, 43, 27, 261, 781, 100, 8, 108, 53, 17, 53, 131, 60, 80, 83, 4]
 ['E', 'r', 'r', 'o', 'r', ' ', '4', '0', '4', ':', ' ', 'N', 'o', 't', ' ', 'f', 'o', 'u', 'n', 'd']
 False
[2520000]
 [2520000]
 True
[2286000, 11400000, 2913000, 2364000, 4206000, 4076000, 2520000, 4916000, 4591000, 4700000]
 [2286000, 11400000, 2913000, 2364000, 4206000, 4076000, 2520000, 4916000, 4591000, 4700000]
 True
[2286000, 11400000, 2913000, 2364000, 4206000, 4076000, 2520000, 4916000, 4591000, 4700000]
 ['E', 'r', 'r', 'o', 'r', ' ', '4', '0', '4', ':', ' ', 'N', 'o', 't', ' ', 'f', 'o', 'u', 'n', 'd']
 False
[3025000, 2286000, 4206000, 1303000]
 [2286000, 4206000, 1303000, 3025000]
 True
[1595138, 904078, 785880, 425259, 385164, 345496, 231999, 173979, 160123]
 ['E', 'r', 'r', 'o', 'r', ' ', '4', '0', '4', ':', ' ', 'N', 'o', 't', ' ', 'f', 'o', 'u', 'n', 'd']
 False
[]
 ['E', 'r', 'r', 'o', 'r', ' ', '4', '0', '4', ':', ' ', 'N', 'o', 't', ' ', 'f', 'o', 'u', 'n', 'd']
 False


['new york']
 ['new york']
 True


['new york']
 ['new york']
 True


['baton rouge']
 ['denver']
 False
[68664]
 [68664.0]
 True
[41300]
 [41300.0]
 True
[266807]
 [266807.0]
 True
[56153]
 [56153.0]
 True


['new york']
 ['new york']
 True


['phoenix']
 ['new york']
 False


['wichita']
 ['wichita']
 True


['new orleans']
 ['new orleans']
 True


['sacramento']
 ['sacramento']
 True


['denver']
 ['denver']
 True


['springfield']
 ['springfield']
 True


['des moines']
 ['des moines']
 True


['boston']
 ['boston']
 True


['trenton']
 ['trenton']
 True


['albany']
 ['albany']
 True


['bismarck']
 ['bismarck']
 True


['columbus']
 ['columbus']
 True


['raleigh']
 ['raleigh']
 True


['tallahassee']
 ['tallahassee']
 True


['washington']
 ['washington']
 True


['trenton']
 ['trenton']
 True


['sacramento']
 ['sacramento']
 True


['des moines', 'jefferson city', 'helena', 'lincoln', 'bismarck', 'pierre']
 ['des moines']
 False


['sacramento']
 ['sacramento']
 True
[3670038]
 [3670038.0]
 True
[357]
 [357.5967413441955]
 False
[2667]
 ['2667']
 False
[979]
 ['979']
 False


['mckinley']
 ['mckinley']
 True


['mckinley']
 ['mckinley']
 True
[135]
 ['centerville']
 False


['ocheyedan mound']
 ['ocheyedan mound']
 True


['mount katahdin']
 ['mount katahdin']
 True


['granite peak']
 ['granite peak']
 True
[4005]
 ['boundary peak']
 False


['cheaha mountain']
 ['walton county']
 False


['mount davis']
 ['wheeler peak']
 False


['guadalupe peak']
 ['guadalupe peak']
 True


['mount davis']
 ['mount mckinley']
 False


['mount rogers']
 ['mount rogers']
 True


['mount mckinley']
 ['mount mckinley']
 True


['mount mckinley']
 ['[', '(', 'N', 'A', ',', ')', ']']
 False


['gannett peak']
 ['gannett peak']
 True


['phoenix']
 ['new york']
 False


['los angeles']
 ['los angeles']
 True


['providence']
 ['providence']
 True


['memphis']
 ['new york']
 False


['washington']
 ['washington']
 True


['columbia']
 ['columbia']
 True


['texas']
 ['texas']
 True


['new mexico']
 ['oklahoma']
 False


['alaska']
 ['alaska']
 True
[2333, 2333, 2333, 2333, 2333]
 ['E', 'r', 'r', 'o', 'r', ' ', '4', '0', '4', ':', ' ', 'N', 'o', 't', ' ', 'f', 'o', 'u', 'n', 'd']
 False
[3033]
 [3033]
 True
[3778, 3778, 3778, 3778, 3778, 3778, 3778, 3778, 3778, 3778, 3778]
 [3778]
 False
[3778, 3778, 3778, 3778, 3778, 3778, 3778, 3778, 3778, 3778, 3778]
 ['[', '(', 'N', 'A', ',', ')', ']']
 False
[3778, 3778, 3778, 3778, 3778, 3778, 3778, 3778, 3778, 3778, 3778]
 ['[', '(', 'N', 'A', ',', ')', ']']
 False


['chattahoochee']
 ['chattahoochee']
 True
[]
 [None]
 False


['missouri', 'missouri', 'missouri', 'missouri']
 ['missouri']
 False


['colorado']
 ['colorado']
 True


['mississippi', 'mississippi']
 ['ohio']
 False


['ouachita river']
 ['ouachita river']
 True


['atlantic ocean']
 ['atlantic ocean']
 True


['gulf of mexico']
 ['gulf of mexico']
 True


['southeast corner']
 ['256']
 False


['death valley']
 ['death valley']
 True


['death valley']
 ['[', '(', 'N', 'A', ',', ')', ']']
 False


['death valley']
 ['-1']
 False
[]
 [4418]
 False


['new jersey']
 ['new jersey']
 True


['new york']
 ['new york']
 True


['california']
 ['california']
 True


['illinois']
 ['illinois']
 True
[33]
 [33.81932962573275]
 False
[0]
 [945.8071144214716]
 False
[401800]
 [401800]
 True
[76685]
 [76685]
 True
[119123]
 [119123]
 True
[964000]
 [964000]
 True
[1595138]
 [1595138]
 True
[4217000]
 [4217000]
 True
[1303000]
 [1303000]
 True
[7071639]
 ['E', 'r', 'r', 'o', 'r', ' ', '4', '0', '4', ':', ' ', 'N', 'o', 't', ' ', 'f', 'o', 'u', 'n', 'd']
 False
[785880]
 [785880]
 True
[106919]
 [106919]
 True
[174431]
 [174431]
 True
[638000]
 [401800]
 False
[4916000, 4591000]
 ['tennessee']
 False
[7365000]
 ['new jersey']
 False
[330537]
 [330537]
 True
[1461000]
 [1461000]
 True
[4113200]
 [4113200]
 True


['scotts valley']
 ['scotts valley']
 True


['scotts valley']
 ['scotts valley']
 True


['tennessee']
 ['maine']
 False


['south dakota']
 ['colorado']
 False


['tennessee']
 ['tennessee']
 True


['alaska']
 ['alaska']
 True


['district of columbia']
 ['district of columbia']
 True
[212215]
 [212215]
 True
[3778, 3778, 3778, 3778, 3778, 3778, 3778, 3778, 3778, 3778, 3778]
 [3778]
 False


['philadelphia', 'pittsburgh']
 ['E', 'r', 'r', 'o', 'r', ' ', '4', '0', '4', ':', ' ', 'N', 'o', 't', ' ', 'f', 'o', 'u', 'n', 'd']
 False


['mississippi']
 ['mississippi']
 True


['colorado']
 ['colorado']
 True


['mississippi', 'mississippi', 'mississippi', 'red', 'red', 'red', 'red', 'red', 'arkansas', 'arkansas', 'canadian', 'canadian', 'cimarron', 'cimarron', 'rio grande', 'san juan', 'gila', 'neosho', 'ouachita', 'ouachita', 'pearl', 'pecos', 'st. francis', 'washita', 'white', 'white']
 ['E', 'r', 'r', 'o', 'r', ' ', '4', '0', '4', ':', ' ', 'N', 'o', 't', ' ', 'f', 'o', 'u', 'n', 'd']
 False


['red', 'canadian', 'rio grande', 'pecos', 'washita']
 ['red', 'canadian', 'rio grande', 'pecos', 'washita']
 True


['red', 'canadian', 'rio grande', 'pecos', 'washita']
 ['red', 'canadian', 'rio grande', 'pecos', 'washita']
 True


['delaware', 'allegheny', 'hudson']
 ['delaware', 'allegheny', 'hudson']
 True


['mississippi', 'mississippi', 'missouri', 'missouri', 'tennessee', 'tennessee', 'cumberland', 'st. francis', 'white']
 ['E', 'r', 'r', 'o', 'r', ' ', '4', '0', '4', ':', ' ', 'N', 'o', 't', ' ', 'f', 'o', 'u', 'n', 'd']
 False


['mississippi', 'mississippi', 'missouri', 'missouri', 'tennessee', 'tennessee', 'cumberland', 'st. francis', 'white']
 ['mississippi', 'tennessee', 'tennessee', 'cumberland']
 False


['california']
 ['arizona', 'california', 'idaho', 'oregon', 'utah']
 False


['vermont', 'massachusetts', 'connecticut', 'new jersey', 'pennsylvania']
 ['connecticut', 'massachusetts', 'new jersey', 'pennsylvania', 'vermont']
 True


['missouri', 'tennessee']
 ['tennessee']
 False


['california']
 ['E', 'r', 'r', 'o', 'r', ' ', '4', '0', '4', ':', ' ', 'N', 'o', 't', ' ', 'f', 'o', 'u', 'n', 'd']
 False


['alaska']
 ['alaska']
 True


['arizona']
 ['missouri']
 False


['montana', 'north dakota', 'south dakota', 'iowa', 'nebraska', 'missouri']

In [9]:
print(df['Equal'])

0       True
1       True
2       True
3       True
4      False
       ...
275    False
276    False
277    False
278     True
279    False
Name: Equal, Length: 280, dtype: bool

In [10]:
print(df['Generated Answer'][2])

The query retrieves a list of states that share a border with Utah. The states are Arizona, Colorado, Idaho, Nevada, New Mexico, and Wyoming.

In [11]:
s = df['Generated Answer'][2]
s = s.replace(",", "")
print(s)
words_list = s.split(' ')
print(words_list)

The query retrieves a list of states that share a border with Utah. The states are Arizona Colorado Idaho Nevada New Mexico and Wyoming.
['The', 'query', 'retrieves', 'a', 'list', 'of', 'states', 'that', 'share', 'a', 'border', 'with', 'Utah.', 'The', 'states', 'are', 'Arizona', 'Colorado', 'Idaho', 'Nevada', 'New', 'Mexico', 'and', 'Wyoming.']

In [12]:
def check_result_in_answer(Generated_list, generated_answer):
    
    try:
        Generated_list = [int(i) for i in Generated_list]
    except: 
        print("\n") 
    generated_answer = generated_answer.replace(",", "").replace(".","").replace("\"", "").replace("'", "").replace("(", "").replace(")", "").replace("-","")
    generated_answer = generated_answer.lower()
    words_list = generated_answer.split(' ')
    y = True
    for item in Generated_list:
        try:
            item = item.lower()
            item_list = item.split(' ')
            for item in item_list:
                try:
                    x = item in words_list
                    print(str(item))
                    print(x)
                    if x == False:
                        y = False
                except:
                    x = item in words_list
                    print(x)
                    if x == False:
                        y = False
        except:
            try:
                x = str(item) in words_list
                print(str(item))
                print(x)
                if x == False:
                    y = False
            except:
                x = item in words_list
                print(x)
                if x == False:
                    y = False

    print(Generated_list, "\n", words_list)
    return y

df['Result in Answer'] = df.apply(lambda row: check_result_in_answer(row['Generated Result'], row['Generated Answer']), axis=1)

2
True
[2]
 ['the', 'query', 'is', 'counting', 'the', 'number', 'of', 'records', 'in', 'the', 'table', 'highlow', 'where', 'the', 'lowest', 'elevation', 'is', 'less', 'than', 'the', 'lowest', 'elevation', 'in', 'alabama', 'the', 'result', 'is', '2']
1
True
[1]
 ['the', 'query', 'is', 'counting', 'the', 'number', 'of', 'rows', 'in', 'the', 'river', 'table', 'where', 'the', 'traverse', 'column', 'has', 'the', 'value', 'of', 'california', 'the', 'result', 'of', 'the', 'query', 'is', '1', 'meaning', 'there', 'is', 'only', 'one', 'river', 'in', 'the', 'table', 'that', 'traverses', 'through', 'california']


arizona
True
colorado
True
idaho
True
nevada
True
new
True
mexico
True
wyoming
True
['arizona', 'colorado', 'idaho', 'nevada', 'new mexico', 'wyoming']
 ['the', 'query', 'retrieves', 'a', 'list', 'of', 'states', 'that', 'share', 'a', 'border', 'with', 'utah', 'the', 'states', 'are', 'arizona', 'colorado', 'idaho', 'nevada', 'new', 'mexico', 'and', 'wyoming']
6194
True
[6194]
 ['this', 'query', 'is', 'requesting', 'the', 'altitude', 'of', 'the', 'mountain', 'named', 'mckinley', 'from', 'the', 'mountain', 'table', 'the', 'result', 'of', 'the', 'query', 'is', 'a', 'single', 'value', '6194']
6194
True
[6194]
 ['the', 'select', 'maxmountain_altitude', 'as', 'highest_point', 'from', 'mountain', 'statement', 'returns', 'the', 'highest', 'altitude', 'value', 'from', 'the', 'mountain', 'table', 'in', 'this', 'case', 'the', 'highest', 'altitude', 'is', '6194', 'representing', 'the', 'highest', 'point', 'on', 'the', 'mountain']


cheaha
False
mountain
False
['cheaha mountain']
 ['the', 'query', 'selects', 'the', 'highest', 'point', 'from', 'the', 'highlow', 'table', 'where', 'the', 'state_name', 'is', 'alabama', 'the', 'result', 'is', '[cheaha', 'mountain]']
591000
False
[591000]
 ['the', 'select', 'statement', 'is', 'used', 'to', 'retrieve', 'data', 'from', 'a', 'database', 'table', 'in', 'this', 'case', 'the', 'area', 'column', 'is', 'being', 'retrieved', 'from', 'the', 'state', 'table', 'the', 'where', 'clause', 'is', 'used', 'to', 'filter', 'the', 'results', 'based', 'on', 'the', 'state_name', 'column', 'with', 'the', 'condition', 'being', 'alaska', 'the', 'result', 'of', 'this', 'query', 'is', 'a', 'single', 'row', 'with', 'the', 'area', 'value', 'of', '5910000']
266807
False
[266807]
 ['the', 'select', 'statement', 'retrieves', 'the', 'area', 'data', 'from', 'the', 'state', 'table', 'where', 'the', 'state_name', 'column', 'equals', 'texas', 'the', 'returned', 'area', 'value', 'is', '2668070']
2333
True
2333
True
2333
True
2333
True
2333
True
[2333, 2333, 2333, 2333, 2333]
 ['the', 'query', 'selects', 'the', 'length', 'of', 'the', 'river', 'named', 'colorado', 'from', 'the', 'river', 'table', 'the', 'result', 'is', 'a', 'list', 'of', 'tuples', 'containing', 'the', 'value', '2333', 'repeated', 'five', 'times', '']
451
True
451
True
451
True
451
True
[451, 451, 451, 451]
 ['the', 'select', 'length', 'from', 'river', 'where', 'river_name', '=', 'delaware', 'statement', 'retrieves', 'the', 'length', 'of', 'the', 'delaware', 'river', 'from', 'a', 'database', 'the', 'result', 'of', 'the', 'statement', 'is', 'a', 'list', 'of', 'tuples', 'with', 'each', 'tuple', 'containing', 'the', 'length', 'of', 'the', 'delaware', 'river', '451', 'miles', 'in', 'this', 'case', '']
2333
True
[2333]
 ['this', 'query', 'finds', 'the', 'maximum', 'length', 'of', 'rivers', 'in', 'california', 'usa', 'and', 'returns', 'the', 'result', 'as', 'a', 'tuple', 'with', 'the', 'value', '2333', '']
3968
True
[3968]
 ['the', 'select', 'maxlength', 'from', 'river', 'where', 'country_name', '=', 'usa', 'statement', 'retrieves', 'the', 'maximum', 'length', 'of', 'rivers', 'located', 'in', 'the', 'united', 'states', 'returning', 'a', 'single', 'value', 'of', '3968', 'this', 'means', 'that', 'the', 'longest', 'river', 'in', 'the', 'united', 'states', 'has', 'a', 'length', 'of', '3968', 'units']
1094
True
1094
True
1094
True
[1094, 1094, 1094]
 ['the', 'sql', 'statement', 'is', 'selecting', 'the', 'length', 'of', 'the', 'river', 'named', 'north', 'platte', 'from', 'the', 'river', 'table', 'the', 'result', 'is', 'a', 'single', 'value', 'which', 'is', 'the', 'length', 'of', 'the', 'river', 'in', 'meters', 'the', 'detailed', 'output', 'shows', 'that', 'the', 'length', 'is', '1094', 'meters', 'and', 'it', 'is', 'repeated', 'three', 'times', '']
1569
True
1569
True
1569
True
1569
True
1569
True
1569
True
1569
True
[1569, 1569, 1569, 1569, 1569, 1569, 1569]
 ['the', 'query', 'returns', 'the', 'length', 'of', 'the', 'river', 'named', 'ohio', 'which', 'is', '1569', '']
1
True
[1]
 ['the', 'query', 'is', 'counting', 'the', 'number', 'of', 'rows', 'in', 'the', 'state', 'table', 'where', 'the', 'state_name', 'column', 'is', 'equal', 'to', 'rhode', 'island', 'the', 'result', 'is', '1', 'indicating', 'that', 'there', 'is', 'only', 'one', 'row', 'in', 'the', 'table', 'that', 'meets', 'this', 'criteria']
386
True
[386]
 ['the', 'select', 'count*', 'from', 'city', 'where', 'country_name', '=', 'usa', 'statement', 'is', 'used', 'to', 'count', 'the', 'number', 'of', 'cities', 'in', 'the', 'database', 'that', 'have', 'the', 'country', 'name', 'usa', 'the', 'result', 'of', 'this', 'statement', 'is', '386', 'meaning', 'there', 'are', '386', 'cities', 'in', 'the', 'database', 'that', 'have', 'the', 'country', 'name', 'usa', 'this', 'statement', 'is', 'helpful', 'for', 'getting', 'a', 'quick', 'overview', 'of', 'the', 'number', 'of', 'cities', 'in', 'the', 'usa', 'in', 'the', 'database']
7071639
True
[7071639]
 ['the', 'given', 'query', 'finds', 'the', 'maximum', 'population', 'among', 'all', 'cities', 'in', 'the', 'usa', 'the', 'result', 'of', 'the', 'query', 'is', 'a', 'single', 'value', 'which', 'is', '7071639']
5
True
[5]
 ['this', 'query', 'counts', 'the', 'number', 'of', 'rows', 'in', 'the', 'river', 'table', 'where', 'the', 'river_name', 'column', 'contains', 'the', 'word', 'colorado', 'the', 'result', 'of', 'this', 'query', 'is', 'a', 'single', 'row', 'with', 'the', 'value', '5', '']
345496
True
[345496]
 ['in', 'summary', 'the', 'select', 'population', 'from', 'city', 'where', 'city_name', '=', 'austin', 'query', 'retrieves', 'the', 'population', 'number', 'of', 'austin', 'city', 'which', 'is', '345496', '']
1203339
True
[1203339]
 ['in', 'summary', 'the', 'select', 'population', 'from', 'city', 'where', 'city_name', '=', 'detroit', 'query', 'retrieves', 'the', 'population', 'of', 'the', 'city', 'of', 'detroit', 'which', 'is', '1203339', 'this', 'information', 'is', 'retrieved', 'from', 'the', 'city', 'table', 'based', 'on', 'the', 'specified', 'city', 'name']
1595138
True
[1595138]
 ['the', 'select', 'sumpopulation', 'from', 'city', 'where', 'city_name', '=', 'houston', 'statement', 'calculates', 'the', 'total', 'population', 'of', 'houston', 'and', 'returns', 'the', 'result', 'as', 'a', 'single', 'row', 'with', 'the', 'value', 'of', '1595138', 'this', 'means', 'that', 'as', 'of', 'the', 'time', 'the', 'database', 'was', 'last', 'updated', 'houston', 'had', 'a', 'total', 'population', 'of', '1595138', 'people']
370951
True
[370951]
 ['this', 'query', 'returns', 'the', 'population', 'of', 'minneapolis', 'minnesota', 'which', 'is', '370951']
2520000
True
[2520000]
 ['the', 'select', 'sumpopulation', 'from', 'state', 'where', 'state_name', '=', 'mississippi', 'query', 'calculates', 'and', 'returns', 'the', 'total', 'population', 'of', 'the', 'state', 'of', 'mississippi', 'which', 'is', '2520000', 'this', 'is', 'represented', 'in', 'the', 'detailed', 'output', 'as', '2520000']
947200
True
[947200]
 ['the', 'statement', 'selects', 'the', 'population', 'column', 'from', 'the', 'state', 'table', 'where', 'the', 'state_name', 'is', 'equal', 'to', 'rhode', 'island', 'the', 'result', 'of', 'the', 'query', 'is', 'a', 'single', 'row', 'with', 'the', 'population', 'of', '947200']
7071639
True
[7071639]
 ['the', 'select', 'maxpopulation', 'from', 'city', 'where', 'state_name', '=', 'new', 'york', 'query', 'returns', 'the', 'highest', 'population', 'number', 'from', 'the', 'state', 'of', 'new', 'york', 'which', 'is', '7071639', 'this', 'means', 'that', 'the', 'city', 'with', 'the', 'largest', 'population', 'in', 'new', 'york', 'is', 'returned', 'as', 'the', 'result', 'of', 'this', 'query']
345496
True
[345496]
 ['the', 'select', 'statement', 'returns', 'the', 'population', 'of', 'the', 'capital', 'city', 'in', 'the', 'state', 'of', 'texas', 'the', 'inner', 'join', 'is', 'used', 'to', 'match', 'the', 'state', 'name', 'in', 'both', 'tables', 'and', 'the', 'where', 'clause', 'filters', 'the', 'results', 'to', 'only', 'include', 'the', 'capital', 'city', 'in', 'texas', 'the', 'population', 'of', 'the', 'capital', 'city', 'is', '345496']
225195124
True
[225195124]
 ['the', 'select', 'sumpopulation', 'from', 'state', 'where', 'country_name', '=', 'usa', 'query', 'returns', 'a', 'single', 'number', 'which', 'represents', 'the', 'total', 'population', 'of', 'all', 'states', 'within', 'the', 'united', 'states', 'this', 'number', 'is', 'currently', '225195124']
1461000
True
[1461000]
 ['the', 'query', 'selects', 'the', 'total', 'population', 'of', 'the', 'state', 'utah', 'from', 'the', 'table', 'state', 'and', 'the', 'result', 'is', '[1461000]', 'which', 'represents', 'the', 'total', 'population', 'of', 'utah', 'as', '1461000']
14229000
True
[14229000]
 ['the', 'select', 'sumpopulation', 'from', 'state', 'where', 'state_name', '=', 'texas', 'statement', 'calculates', 'the', 'total', 'population', 'of', 'texas', 'and', 'returns', 'the', 'result', 'in', 'a', 'tuple', 'format', 'of', '14229000', 'this', 'means', 'that', 'the', 'total', 'population', 'of', 'texas', 'is', '14229000', '']
2
False
[2]
 ['the', 'select', 'count*', 'statement', 'is', 'used', 'to', 'count', 'the', 'number', 'of', 'rows', 'that', 'meet', 'the', 'specified', 'condition', 'in', 'the', 'where', 'clause', 'in', 'this', 'case', 'the', 'statement', 'is', 'counting', 'the', 'number', 'of', 'rivers', 'that', 'traverse', 'through', 'the', 'state', 'of', 'iowa', 'the', 'detailed', 'output', 'of', 'this', 'statement', 'is', 'a', 'single', 'value', 'which', 'represents', 'the', 'total', 'count', 'of', 'rivers', 'that', 'meet', 'the', 'condition']


[
False
(
False
n
False
a
False
,
False
)
False
]
False
['[', '(', 'N', 'A', ',', ')', ']']
 ['na']
11
True
[11]
 ['this', 'query', 'counts', 'the', 'number', 'of', 'rivers', 'in', 'the', 'database', 'that', 'have', 'the', 'name', 'colorado', 'in', 'the', 'traverse', 'column', 'the', 'result', 'of', 'the', 'query', 'is', '11', 'indicating', 'that', 'there', 'are', '11', 'rivers', 'with', 'the', 'name', 'colorado', 'in', 'the', 'database']
51
True
[51]
 ['the', 'select', 'countstate_name', 'from', 'state', 'where', 'country_name', '=', 'usa', 'query', 'is', 'used', 'to', 'count', 'the', 'number', 'of', 'states', 'in', 'the', 'usa', 'the', 'query', 'returns', 'a', 'single', 'result', '[51]', 'which', 'indicates', 'that', 'there', 'are', '51', 'states', 'in', 'the', 'usa']
51
True
[51]
 ['the', 'select', 'count*', 'from', 'state', 'statement', 'returns', 'the', 'total', 'number', 'of', 'rows', 'in', 'the', 'state', 'table', 'which', 'in', 'this', 'case', 'is', '51', 'this', 'means', 'that', 'there', 'are', '51', 'states', 'included', 'in', 'the', 'state', 'table']
51
True
[51]
 ['the', 'select', 'countstate_name', 'from', 'state', 'where', 'country_name', '=', 'usa', 'query', 'retrieves', 'the', 'total', 'number', 'of', 'states', 'in', 'the', 'united', 'states', 'the', 'result', 'of', 'the', 'query', 'is', '51', 'indicating', 'that', 'there', 'are', '51', 'states', 'in', 'the', 'usa']
6
True
[6]
 ['the', 'query', 'counts', 'the', 'number', 'of', 'rows', 'in', 'the', 'table', 'border_info', 'where', 'the', 'border', 'column', 'has', 'the', 'value', 'iowa', 'the', 'result', 'is', '6', 'rows']
3
True
[3]
 ['the', 'query', 'counts', 'the', 'number', 'of', 'rows', 'in', 'the', 'table', 'border_info', 'where', 'the', 'state_name', 'is', 'included', 'in', 'the', 'list', 'of', 'state', 'names', 'with', 'the', 'highest', 'population', 'the', 'result', 'of', 'the', 'query', 'is', '3']
8
True
[8]
 ['the', 'sql', 'query', 'select', 'count*', 'from', 'border_info', 'where', 'border', '=', 'tennessee', 'will', 'return', 'a', 'count', 'of', 'the', 'number', 'of', 'records', 'in', 'the', 'border_info', 'table', 'where', 'the', 'border', 'column', 'has', 'the', 'value', 'tennessee', 'this', 'query', 'returns', 'the', 'number', '8', 'indicating', 'that', 'there', 'are', '8', 'records', 'in', 'the', 'table', 'where', 'the', 'border', 'is', 'listed', 'as', 'tennessee']
51
True
[51]
 ['the', 'query', 'is', 'counting', 'the', 'number', 'of', 'states', 'in', 'the', 'state', 'table', 'that', 'have', 'a', 'country', 'name', 'of', 'usa', 'the', 'result', 'of', 'the', 'query', 'is', '51']
0
True
[0]
 ['the', 'query', 'is', 'counting', 'the', 'number', 'of', 'states', 'that', 'do', 'not', 'have', 'a', 'corresponding', 'river', 'listed', 'in', 'the', 'river', 'table', 'the', 'result', 'returned', 'is', 'a', 'tuple', 'with', 'a', 'count', 'of', '0', 'indicating', 'that', 'all', 'states', 'have', 'at', 'least', 'one', 'corresponding', 'river', 'listed', 'in', 'the', 'river', 'table']
0
True
[0]
 ['the', 'query', 'is', 'counting', 'the', 'number', 'of', 'rows', 'in', 'the', 'highlow', 'table', 'where', 'the', 'highest_point', 'value', 'is', 'greater', 'than', 'the', 'maximum', 'mountain', 'altitude', 'in', 'the', 'state', 'with', 'the', 'capital', 'city', 'having', 'the', 'highest', 'population', 'the', 'result', 'of', 'the', 'query', 'is', '0']
14229000
True
[14229000]
 ['in', 'summary', 'the', 'select', 'statement', 'is', 'used', 'to', 'retrieve', 'data', 'from', 'a', 'database', 'in', 'this', 'case', 'the', 'statement', 'is', 'selecting', 'the', 'population', 'column', 'from', 'the', 'state', 'table', 'where', 'the', 'state_name', 'is', 'texas', 'the', 'result', 'of', 'this', 'query', 'is', 'a', 'single', 'row', 'with', 'the', 'population', 'of', 'texas', 'which', 'is', '14229000']
6194
True
[6194]
 ['the', 'select', 'statement', 'retrieves', 'the', 'mountain_altitude', 'data', 'from', 'the', 'mountain', 'table', 'for', 'the', 'mountain', 'with', 'the', 'name', 'mckinley', 'the', 'result', 'of', 'the', 'query', 'is', 'a', 'single', 'tuple', 'containing', 'the', 'value', '6194', 'which', 'represents', 'the', 'altitude', 'of', 'mount', 'mckinley']


granite
True
peak
True
['granite peak']
 ['the', 'highest', 'point', 'in', 'montana', 'is', 'granite', 'peak', 'according', 'to', 'the', 'data', 'in', 'the', 'highlow', 'table']
6
True
[6]
 ['the', 'query', 'counts', 'the', 'number', 'of', 'rows', 'in', 'the', 'border_info', 'table', 'where', 'the', 'state_name', 'column', 'is', 'equal', 'to', 'iowa', 'the', 'detailed', 'result', 'is', 'a', 'single', 'value', 'of', '6']


colorado
True
arkansas
True
canadian
True
green
True
north
True
platte
True
republican
True
rio
True
grande
True
san
True
juan
True
san
True
juan
True
smoky
True
hill
True
south
True
platte
True
['colorado', 'arkansas', 'canadian', 'green', 'north platte', 'republican', 'rio grande', 'san juan', 'san juan', 'smoky hill', 'south platte']
 ['the', 'select', 'statement', 'retrieves', 'the', 'river', 'names', 'from', 'the', 'river', 'table', 'where', 'traverse', 'is', 'equal', 'to', 'colorado', 'the', 'retrieved', 'rows', 'contain', 'the', 'following', 'values:', 'colorado', 'arkansas', 'canadian', 'green', 'north', 'platte', 'republican', 'rio', 'grande', 'san', 'juan', 'san', 'juan', 'smoky', 'hill', 'and', 'south', 'platte']


chattahoochee
True
['chattahoochee']
 ['the', 'select', 'distinct', 'query', 'retrieves', 'a', 'list', 'of', 'unique', 'river', 'names', 'from', 'the', 'river', 'table', 'where', 'the', 'traverse', 'column', 'is', 'equal', 'to', 'florida', 'the', 'result', 'of', 'the', 'query', 'is', '[chattahoochee]', 'which', 'is', 'a', 'single', 'river', 'name', 'chattahoochee', 'that', 'traverses', 'through', 'florida']
76685
True
[76685]
 ['the', 'select', 'statement', 'is', 'used', 'to', 'retrieve', 'data', 'from', 'a', 'database', 'table', 'in', 'this', 'particular', 'statement', 'we', 'are', 'retrieving', 'the', 'population', 'column', 'from', 'the', 'city', 'table', 'we', 'are', 'only', 'interested', 'in', 'the', 'row', 'where', 'the', 'city_name', 'is', 'boulder', 'the', 'result', 'of', 'this', 'query', 'is', 'a', 'population', 'value', 'of', '76685', 'for', 'the', 'city', 'of', 'boulder', '']
6
True
[6]
 ['the', 'select', 'count*', 'from', 'border_info', 'where', 'border', '=', 'iowa', 'query', 'returns', 'the', 'number', 'of', 'rows', 'in', 'the', 'border_info', 'table', 'where', 'the', 'border', 'column', 'value', 'is', 'equal', 'to', 'iowa', 'the', 'detailed', 'result', '[6]', 'indicates', 'that', 'there', 'are', '6', 'rows', 'in', 'the', 'border_info', 'table', 'where', 'the', 'border', 'column', 'value', 'is', 'iowa']


delaware
True
allegheny
True
hudson
True
['delaware', 'allegheny', 'hudson']
 ['this', 'sql', 'query', 'retrieves', 'the', 'names', 'of', 'rivers', 'that', 'traverse', 'through', 'the', 'state', 'of', 'new', 'york', 'the', 'query', 'returns', 'the', 'names', 'of', 'three', 'rivers', 'namely', 'delaware', 'allegheny', 'and', 'hudson']


texas
True
['texas']
 ['this', 'select', 'statement', 'retrieves', 'the', 'state', 'name', 'from', 'the', 'city', 'table', 'where', 'the', 'city', 'name', 'is', 'san', 'antonio', 'the', 'result', 'of', 'this', 'query', 'is', 'a', 'list', 'containing', 'the', 'state', 'name', 'of', 'texas']


e
False
r
False
r
False
o
False
r
False

False

False
4
False
0
False
4
False
:
False

False

False
n
False
o
False
t
False

False

False
f
False
o
False
u
False
n
False
d
False
['E', 'r', 'r', 'o', 'r', ' ', '4', '0', '4', ':', ' ', 'N', 'o', 't', ' ', 'f', 'o', 'u', 'n', 'd']
 ['the', 'database', 'does', 'not', 'contain', 'any', 'records', 'matching', 'your', 'question']


alabama
False
alaska
False
arizona
False
arkansas
False
california
False
colorado
False
connecticut
False
delaware
False
district
False
of
False
columbia
False
florida
False
georgia
False
hawaii
False
idaho
False
illinois
False
indiana
False
iowa
False
kansas
False
kentucky
False
louisiana
False
maine
False
maryland
False
massachusetts
False
michigan
False
minnesota
False
mississippi
False
missouri
False
montana
False
nebraska
False
nevada
False
new
False
hampshire
False
new
False
jersey
False
new
False
mexico
False
new
False
york
False
north
False
carolina
False
north
False
dakota
False
ohio
False
oklahoma
False
oregon
False
pennsylvania
False
rhode
False
island
False
south
False
carolina
False
south
False
dakota
False
tennessee
False
texas
True
utah
False
vermont
False
virginia
False
washington
False
west
False
virginia
False
wisconsin
False
wyoming
False
['alabama', 'alaska', 'arizona', 'arkansas', 'california', 'colorado', 'connecticut', 'delaware', 'district of columbia', 'florida', 'georgia', 'hawaii', 'idaho', 'illinois', 'indiana', 'iowa', 'kansas', 'kentucky', 'louisiana', 'maine', 'maryland', 'massachusetts', 'michigan', 'minnesota', 'mississippi', 'missouri', 'montana', 'nebraska', 'nevada', 'new hampshire', 'new jersey', 'new mexico', 'new york', 'north carolina', 'north dakota', 'ohio', 'oklahoma', 'oregon', 'pennsylvania', 'rhode island', 'south carolina', 'south dakota', 'tennessee', 'texas', 'utah', 'vermont', 'virginia', 'washington', 'west virginia', 'wisconsin', 'wyoming']
 ['this', 'query', 'finds', 'the', 'state', 'names', 'where', 'the', 'longest', 'river', 'that', 'traverses', 'texas', 'is', 'located', 'it', 'uses', 'an', 'inner', 'join', 'to', 'connect', 'the', 'river', 'and', 'state', 'tables', 'and', 'a', 'subquery', 'to', 'find', 'the', 'longest', 'river', 'in', 'texas', 'the', 'distinct', 'keyword', 'ensures', 'that', 'each', 'state', 'name', 'is', 'only', 'listed', 'once']


red
True
canadian
True
rio
True
grande
True
pecos
True
washita
True
['red', 'canadian', 'rio grande', 'pecos', 'washita']

In [13]:
print(df['Result in Answer'])

0       True
1       True
2       True
3       True
4       True
       ...
275    False
276    False
277    False
278     True
279    False
Name: Result in Answer, Length: 280, dtype: bool

In [14]:
execution_accuracy = df['Equal'].mean() * 100

print(execution_accuracy,'%')

combined_accuracy = (df[(df['Result in Answer'] == True) & (df['Equal'] == True)].shape[0] / df.shape[0]) * 100

print(combined_accuracy,'%')

59.285714285714285 %
55.00000000000001 %

In [15]:
print(df)

                                            HumanQuery  \
0    count the states which have elevations lower t...
1           give me the number of rivers in california
2                  give me the states that border utah
3                           how high is mount mckinley
4             how high is the highest point in america
..                                                 ...
275    which states does the longest river run through
276      which states does the mississippi run through
277                          which states have a river
278              which states have cities named austin
279  which us city has the highest population densi...

                                            Gold Query  \
0    select count(highlow.state_name) from highlow ...
1    select count(river.river_name) from river wher...
2    select border_info.border from border_info whe...
3    select highlow.highest_elevation from highlow ...
4    select max(highlow.highest_elevation) from hig...
..                                                 ...
275  select river.traverse from river where river.l...
276  select river.traverse from river where river.r...
277                  select river.traverse from river;
278  select city.state_name from city where city.ci...
279  select city.city_name from city where city.pop...

                                       Generated Query  \
0    SELECT COUNT(*) FROM highlow WHERE CAST(lowest...
1    SELECT COUNT(*) FROM river WHERE traverse = 'c...
2    SELECT DISTINCT state_name FROM border_info WH...
3    SELECT mountain_altitude FROM mountain WHERE m...
4    SELECT MAX(mountain_altitude) AS "highest_poin...
..                                                 ...
275  SELECT DISTINCT state.state_name FROM river IN...
276  This question cannot be answered by this database
277  This question cannot be answered by this database
278  SELECT state_name FROM city WHERE city_name = ...
279  This question cannot be answered by this database

                                           Gold Result  \
0                                                  [2]
1                                                  [1]
2    [wyoming, colorado, new mexico, arizona, nevad...
3                                               [6194]
4                                                [979]
..                                                 ...
275  [montana, north dakota, south dakota, iowa, ne...
276  [montana, north dakota, south dakota, iowa, ne...
277  [montana, north dakota, south dakota, iowa, ne...
278                                            [texas]
279                                            [texas]

                                      Generated Result  \
0                                                  [2]
1                                                  [1]
2    [arizona, colorado, idaho, nevada, new mexico,...
3                                               [6194]
4                                               [6194]
..                                                 ...
275  [alabama, alaska, arizona, arkansas, californi...
276                              [[, (, N, A, ,, ), ]]
277                              [[, (, N, A, ,, ), ]]
278                                            [texas]
279                              [[, (, N, A, ,, ), ]]

                                      Generated Answer  Equal  \
0    The query is counting the number of records in...   True
1    The query is counting the number of rows in th...   True
2    The query retrieves a list of states that shar...   True
3    This query is requesting the altitude of the m...   True
4    The SELECT MAX(mountain_altitude) AS "highest_...  False
..                                                 ...    ...
275  The query is selecting the distinct state name...  False
276                                                 NA  False
277                                                 NA  False
278  The SELECT statement retrieves the state name ...   True
279                                                 NA  False

     Result in Answer
0                True
1                True
2                True
3                True
4                True
..                ...
275             False
276             False
277             False
278              True
279             False

[280 rows x 8 columns]

In [16]:
df.to_excel(r"C:\Users\anark\Desktop\Capstone\SQLChatBot\Testing\Modified.geography.uw.test.txt.results.xlsx")